In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Listings data 
Seem to be most informative, so let's start with reading and preliminary analysis

In [11]:
listings_df = pd.read_csv('data/listings.csv')
listings_df.head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15

In [8]:
# Number of rows 
n_rows = listings_df.shape[0]
n_rows

3818

In [9]:
# Get info about columns. Those with number of non-null object less than n_rows contain NaN values  
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
id                                  3818 non-null int64
listing_url                         3818 non-null object
scrape_id                           3818 non-null int64
last_scraped                        3818 non-null object
name                                3818 non-null object
summary                             3641 non-null object
space                               3249 non-null object
description                         3818 non-null object
experiences_offered                 3818 non-null object
neighborhood_overview               2786 non-null object
notes                               2212 non-null object
transit                             2884 non-null object
thumbnail_url                       3498 non-null object
medium_url                          3498 non-null object
picture_url                         3818 non-null object
xl_picture_url                      3498 non-null object
host_id                             3818 non-null int64
host_url                            3818 non-null object
host_name                           3816 non-null object
host_since                          3816 non-null object
host_location                       3810 non-null object
host_about                          2959 non-null object
host_response_time                  3295 non-null object
host_response_rate                  3295 non-null object
host_acceptance_rate                3045 non-null object
host_is_superhost                   3816 non-null object
host_thumbnail_url                  3816 non-null object
host_picture_url                    3816 non-null object
host_neighbourhood                  3518 non-null object
host_listings_count                 3816 non-null float64
host_total_listings_count           3816 non-null float64
host_verifications                  3818 non-null object
host_has_profile_pic                3816 non-null object
host_identity_verified              3816 non-null object
street                              3818 non-null object
neighbourhood                       3402 non-null object
neighbourhood_cleansed              3818 non-null object
neighbourhood_group_cleansed        3818 non-null object
city                                3818 non-null object
state                               3818 non-null object
zipcode                             3811 non-null object
market                              3818 non-null object
smart_location                      3818 non-null object
country_code                        3818 non-null object
country                             3818 non-null object
latitude                            3818 non-null float64
longitude                           3818 non-null float64
is_location_exact                   3818 non-null object
property_type                       3817 non-null object
room_type                           3818 non-null object
accommodates                        3818 non-null int64
bathrooms                           3802 non-null float64
bedrooms                            3812 non-null float64
beds                                3817 non-null float64
bed_type                            3818 non-null object
amenities                           3818 non-null object
square_feet                         97 non-null float64
price                               3818 non-null object
weekly_price                        2009 non-null object
monthly_price                       1517 non-null object
security_deposit                    1866 non-null object
cleaning_fee                        2788 non-null object
guests_included                     3818 non-null int64
extra_people                        3818 non-null object
minimum_nights                      3818 non-null int64
maximum_nights                      3818 non-null int64
calendar_updated                    3818 non-null object
has_availability                    3818 non-null object
availability_30                     3818 non-null int64
availability_60                     3818 non-null int64
availability_90                     3818 non-null int64
availability_365                    3818 non-null int64
calendar_last_scraped               3818 non-null object
number_of_reviews                   3818 non-null int64
first_review                        3191 non-null object
last_review                         3191 non-null object
review_scores_rating                3171 non-null float64
review_scores_accuracy              3160 non-null float64
review_scores_cleanliness           3165 non-null float64
review_scores_checkin               3160 non-null float64
review_scores_communication         3167 non-null float64
review_scores_location              3163 non-null float64
review_scores_value                 3162 non-null float64
requires_license                    3818 non-null object
license                             0 non-null float64
jurisdiction_names                  3818 non-null object
instant_bookable                    3818 non-null object
cancellation_policy                 3818 non-null object
require_guest_profile_picture       3818 non-null object
require_guest_phone_verification    3818 non-null object
calculated_host_listings_count      3818 non-null int64
reviews_per_month                   3191 non-null float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [16]:
listings_df['price']

0        $85.00
1       $150.00
2       $975.00
3       $100.00
4       $450.00
5       $120.00
6        $80.00
7        $60.00
8        $90.00
9       $150.00
10       $95.00
11       $99.00
12      $245.00
13      $165.00
14      $461.00
15      $109.00
16       $66.00
17       $99.00
18      $200.00
19      $700.00
20      $110.00
21       $99.00
22      $450.00
23       $75.00
24      $600.00
25      $450.00
26      $150.00
27       $45.00
28      $300.00
29       $80.00
         ...
3788    $115.00
3789     $60.00
3790    $175.00
3791     $85.00
3792    $109.00
3793    $109.00
3794    $107.00
3795    $200.00
3796     $85.00
3797     $70.00
3798     $77.00
3799     $65.00
3800    $185.00
3801    $108.00
3802    $200.00
3803    $250.00
3804    $125.00
3805    $100.00
3806    $160.00
3807    $109.00
3808    $175.00
3809    $120.00
3810    $154.00
3811     $65.00
3812     $95.00
3813    $359.00
3814     $79.00
3815     $93.00
3816     $99.00
3817     $87.00
Name: price, Length: 3818, dtype: object

In [20]:
listings_df[['review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 
             'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']].dropna()

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,95.0,10.0,10.0,10.0,10.0,9.0,10.0
1,96.0,10.0,10.0,10.0,10.0,10.0,10.0
2,97.0,10.0,10.0,10.0,10.0,10.0,10.0
4,92.0,9.0,9.0,10.0,10.0,9.0,9.0
5,95.0,10.0,10.0,10.0,10.0,10.0,10.0
6,99.0,10.0,10.0,10.0,10.0,10.0,10.0
7,97.0,10.0,10.0,10.0,10.0,9.0,10.0
8,97.0,10.0,9.0,10.0,9.0,10.0,10.0
9,97.0,10.0,10.0,10.0,10.0,10.0,9.0
10,97.0,10.0,10.0,10.0,10.0,10.0,10.0
11,97.0,10.0,10.0,9.0,10.0,10.0,9.0
12,98.0,10.0,10.0,10.0,10.0,10.0,10.0
13,100.0,10.0,10.0,9.0,9.0,10.0,10.0
14,98.0,9.0,10.0,10.0,10.0,10.0,10.0
15,80.0,8.0,10.0,8.0,8.0,8.0,8.0
16,95.0,10.0,9.0,10.0,10.0,10.0,9.0
17,98.0,10.0,10.0,10.0,10.0,10.0,10.0
19,85.0,10.0,9.0,9.0,9.0,8.0,8.0
20,100.0,10.0,10.0,10.0,10.0,10.0,10.0
21,84.0,9.0,9.0,9.0,9.0,10.0,8.0
22,100.0,10.0,10.0,10.0,10.0,10.0,10.0
24,100.0,10.0,10.0,10.0,10.0,10.0,10.0
25,100.0,10.0,10.0,9.0,10.0,10.0,10.0
27,95.0,10.0,10.0,10.0,10.0,9.0,9.0
28,100.0,10.0,10.0,10.0,10.0,10.0,10.0
29,85.0,8.0,9.0,7.0,10.0,9.0,9.0
30,96.0,10.0,10.0,10.0,10.0,10.0,10.0
31,92.0,9.0,9.0,10.0,9.0,10.0,9.0
32,88.0,9.0,9.0,9.0,9.0,10.0,9.0
33,75.0,8.0,9.0,8.0,9.0,9.0,8.0
...,...,...,...,...,...,...,...
3782,97.0,10.0,10.0,10.0,10.0,10.0,10.0
3783,88.0,9.0,9.0,10.0,9.0,10.0,9.0
3784,95.0,10.0,10.0,10.0,10.0,9.0,10.0
3785,96.0,10.0,10.0,10.0,10.0,10.0,10.0
3786,98.0,10.0,9.0,10.0,10.0,10.0,10.0
3787,98.0,10.0,10.0,10.0,10.0,10.0,9.0
3788,99.0,10.0,10.0,10.0,10.0,10.0,10.0
3789,90.0,9.0,9.0,9.0,10.0,9.0,9.0
3790,98.0,10.0,10.0,10.0,10.0,10.0,10.0
3791,100.0,10.0,10.0,10.0,10.0,10.0,10.0
3793,98.0,10.0,10.0,10.0,10.0,10.0,10.0
3794,90.0,9.0,9.0,10.0,10.0,9.0,8.0
3795,98.0,10.0,10.0,10.0,10.0,10.0,10.0
3796,98.0,10.0,10.0,10.0,10.0,10.0,10.0
3797,100.0,10.0,10.0,10.0,10.0,10.0,10.0
3798,98.0,10.0,10.0,10.0,10.0,10.0,10.0
3799,95.0,10.0,9.0,10.0,10.0,10.0,10.0
3801,100.0,10.0,10.0,10.0,10.0,10.0,10.0
3803,95.0,10.0,10.0,10.0,10.0,10.0,10.0
3804,95.0,10.0,10.0,10.0,10.0,10.0,10.0
3805,98.0,10.0,10.0,10.0,10.0,10.0,10.0
3806,100.0,10.0,10.0,10.0,10.0,10.0,10.0
3807,97.0,10.0,10.0,10.0,10.0,10.0,9.0
3808,96.0,10.0,9.0,10.0,10.0,10.0,9.0
3809,80.0,8.0,7.0,9.0,9.0,9.0,8.0
3810,92.0,9.0,8.0,10.0,10.0,10.0,8.0
3811,100.0,9.0,8.0,10.0,10.0,10.0,10.0
3812,96.0,10.0,10.0,10.0,10.0,9.0,10.0
3813,80.0,8.0,10.0,4.0,8.0,10.0,8.0
3814,100.0,10.0,10.0,10.0,10.0,10.0,10.0

# Reviews data

In [13]:
reviews_df = pd.read_csv('data/reviews.csv')
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [15]:
reviews_df["comments"][0]

'Cute and cozy place. Perfect location to everything! '